/* input.wpcf7-form-control.wpcf7-submit {
    background: #ef8e25;
    color: white;
    border: none;
    padding: 10px;
    max-width: 200px;
    border-radius: 25px;
    cursor:pointer;
}
input, textarea {
    width: 100%;
    margin: 0 0px 10px;
}
label {
    margin: 0;
}
.wpcf7 input, .wpcf7 textarea{
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.5);
    border: none;
    margin: 5px 0;
}
input, textarea, label {
    width: 100%;
    padding: 5px 20px;
}
span.ajax-loader {
    display: block !important;
} */
input.gform_button.button {
    background-color: var(--accent-primary);
    border-radius: 25px;
    padding: 10px 35px;
    /* border: 3px solid white; */
    /* border: 3px solid var(--secondary); */
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    width: 100%;
    color: white;
    text-transform: uppercase;
}

input.gform_button.button:hover {
    /* background-color: white; */
    background-color: var(--accent-secondary);
    /* border-color: var(--accent-secondary); */
    /* color: var(--primary); */
}