h1,
.h1 {
    font-size: 2.5rem;
    font-family: "blair_itcmedium";
    font-family: "blair_itclight";
}

h3,
.h3 {
    font-size: 1.25rem;
    font-family: "proxima_novaregular";
}

.section-header .section-header-img {
    animation: loopEffectTwo 45s infinite;
}

@keyframes loopEffectTwo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* @keyframes loopEffect {
    0% {
        background-size: cover;
    }

    50% {
        background-size: 140%;
    }

    100% {
        background-size: cover;
    }
} */

.icon-item svg,
.icon-item svg path {
    transition: all .25s ease-in-out;
    fill: var(--accent-quaternary);
}

.icon-item:hover svg,
.icon-item:hover path {
    fill: var(--accent-primary);
}