.hero img {
  height: 60vh;
  object-fit: cover;
  width: 100%;
  object-position: top;
}

@media screen and (min-width: 768px) {
  .col-content-center {
    border-right: 1px solid gray;
  }

  .col-content-center:last-child {
    border-right: none;
  }
}

.section-intro:last-child {
  padding-bottom: 3rem;
}

.section-intro~.with-bg {
  margin-top: 3rem;
}

/* @media screen and (min-width:768px){
.sections:nth-child(odd) .row {
    flex-direction: row-reverse;
}
.col-intro {
    border-right: 1px solid #d3d3d3;
}
.col-intro:last-child {
    border-right: 0;
}
} */